streamlit==1.38.0
PyPDF2==3.0.1
python-docx==0.8.11
python-pptx==0.6.21
pandas==2.1.1
openai
langchain>=0.1.0
langchain_openai>=0.1.8
faiss-cpu==1.8.0
langchain-community
scikit-learn==1.2.2
openpyxl==3.1.2
huggingface-hub>=0.23.0
torch==2.0.1
transformers==4.38.0
tiktoken>=0.7,<1
numpy==1.23.5
